@import "tailwindcss";

@theme {
  --color-primary-50: #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  
  --color-secondary-50: #eff6ff;
  --color-secondary-100: #dbeafe;
  --color-secondary-500: #3b82f6;
  --color-secondary-600: #2563eb;
  
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2828;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f8fafc;
  color: #334155;
}
